@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

#mydiv {
  padding-top: 100px;
  background-color: white;
  border-radius: 4px;
  width: 300px;
  height: 500px;
}

#letter {
  align-items: center;
  align-content: center;
  font-size: larger;
  font-weight: bolder;
}
