@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.mydiv {
  margin-top: 100px;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.letter {
  font-size: 100px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50%;
}

.uppfig,
.downfig {
  display: flex;
  color: black;
  font-size: 75px;
}

.uppfig {
  margin-left: 10px;
  top: 0;
  left: 0;
  justify-content: start;
}

.downfig {
  margin-right: 10px;
  bottom: 0;
  justify-content: end;
  align-items: end;
}

.rotate {
  transform: rotate(180);
}
